/* reset template*/

body {
    font-family: 'Judson', serif;
    background:white;
   }

   .logo{
     font-family: cursive;
     text-align: center;
     color: royalblue;
   }
   
   .form-inline {  
     display: flex;
     flex-flow: row wrap;
     align-items: center;
   }
   
   .form-inline label {
     margin: 5px 10px 5px 0;
   }
   
   .form-inline input {
     vertical-align: middle;
     margin: 5px 10px 5px 0;
     padding: 10px;
     background-color: #fff;
     border: 1px solid #ddd;
   }
   
   .form-inline button {
     padding: 10px 20px;
     background-color: dodgerblue;
     border: 1px solid #ddd;
     color: white;
     cursor: pointer;
   }
   
   .form-inline button:hover {
     background-color: royalblue;
   }
   
   @media (max-width: 800px) {
     .form-inline input {
       margin: 10px 0;
     }
     
     .form-inline {
       flex-direction: column;
       align-items: stretch;
     }
   }
   
   h3{
    font-family: 'Archivo Black', sans-serif;
   }
   
   input[type=text], select {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 40px;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
    font-weight: 100;
   }
       
   input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 40px;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
     background-color: whitesmoke;
     color: white;
   }

   input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
       
   div {
     border-radius: 50px;
     background-color:rgb(28, 172, 164);
     padding: 20px;
     width:40%;
   
     margin:60px auto;
     font-family: 'Archivo Black', sans-serif;
      opacity: 0.9;
     filter: alpha(opacity=10);
     
   }
   
   
   