/*styling login page */
input[type="text"],
input[type="password"]
{   
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;

} 
h1{
    margin:0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    color:royalblue;
}
body{
    margin:0;
    padding:0;
    background-color: aqua;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
}
#login-page
{
    display: table;
    width: 100%;
    padding-top: 150px;
    position: absolute;
}

.text-header{
    text-align: center;
    padding-top: 50px;
}
#form{

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 13px;  
    
    color:#fff;

}

.div-form-container{
    background-color: black;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto
}

.btn-login{
    background-color: green;
    border: 1px solid green;
    padding: 10px;
}
header{
height: 70px;
width: 100%;
background: rgb(3, 3, 12);
color: #FFFFFF;
overflow:auto;

}

.header-style{
  position: fixed;
 
}

.logo-style{
  height: 50px;
  margin-top: 15px;
}

.content-div {
  margin-top: 80px;
}

header nav ul li a {
    font-family: catamaran;
    font-size: 16px;
    color:#111;
    text-transform: uppercase;
}

/* The side navigation menu */
/*.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    position: fixed; 
    height: 100%;
    overflow: auto;
    z-index: 1;
  }

  .sidebar-links{
    margin-top: 70px;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: rgb(57, 59, 57);
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover {
    background-color: #555;
    color: white;
  } 
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  /*table of inbox message */
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  box-sizing: content-box;
}


td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  * {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   /* background-color: red;*/
    color:black;
    text-align: center;
  }
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  /*styling chat*/

  .chatbx{
    widows: 500px;
    min-width: width 390px;
    background: #fff;
}
.chatlgs{
    padding:10px;
    widows: 100%;
    height: 450px;
    background: #eee;   
}
.chat {
    display:flex;
    flex-flow:row wrap;
    align-items: #ccc;
    margin-bottom:10px;
}
.chat .user-photo {
    width: 60px;
    height:60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.chat .user-photo img {
    width:100%;
}
.chat .chat-message{
    widows: 80px;
    padding:15px;
    margin:5px 10px 0;
}
.friend .chat-message {
    background:#1d1add;
}
.self .chat-message {
    background: #1b6970;
}
.chat-form {
    margin-top:20px;
    display:flex;
    align-items:flex-start;
}
.chat-form textarea {
    background: #fbfbfb;
    width: 100%;
    height:100px;
    border:2px solid #eee;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    color: #333;
}
.chat-form textarea:focus{
    background:#fff;
}
.chatlgs::-webkit-scrollbar-thumb{
    border:5px;
    background: rgba(0,0,.1);
}

.chatlgs::-webkit-scrollbar{
 width:10px;
}

.chat-form button{
    background: #1ddced;
    padding: 5px 15px;
    font-size:30px;
    color:#fff;
    border: none;
    margin:0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor:pointer;
}
.chat-form button:hover {
    background: #4a4994;
}
/*compose message styling*/
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 100px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


